[claude]
    run = "claude --dangerously-skip-permissions"
    env = { TSC_CONFIG = "tsconfig.quiet.json" } # #prob-redundant

["claude:usage"]
    run = "claude --dangerously-skip-permissions '/usage'"

["claude:ask"]
    usage = """
        arg "<prompt>" default=""
        flag "--model <model>" {
            choices "opus" "sonnet" "haiku" "haiku3" "claude-3-haiku-20240307"
            default "sonnet"
        }
        flag "-p --print" help="Print output and exit" default=#false
    """
    run = """
        # claude $prompt

        $env.usage_print = if ($env.usage_print | into bool) { "--print" } else { "" }

        if ($env.usage_model == "haiku3") {
          $env.usage_model = "claude-3-haiku-20240307"
        }

        mut sys_prompt_indented = r#'
          You are an inhuman intelligence. Don’t agree with me unless my reasoning is watertight.
          Never use friendly or encouraging language.
          Your goal is not to help me feel good - it’s to help me think better.

          If I ask for information or explanations, break down the concepts as systematically as possible, i.e. begin with a list of the core terms, and then build on that.
        '#

        $sys_prompt_indented += if ("CLAUDE_PROMPT_EXTRA_NOTES" in $env) { $"\nNote:\n ($env.CLAUDE_PROMPT_EXTRA_NOTES)" } else { "" }

        let sys_prompt = $sys_prompt_indented | lines | each { str trim } | str join "\n"
        let prompt = r#'{{ usage.prompt }}'#

        # exit the project to not load CLAUDE.md into /context
        cd ..

        claude --dangerously-skip-permissions --model=$env.usage_model --tools="" $env.usage_print --system-prompt=($sys_prompt) $prompt
    """
