["dev:db-init"]
    run = """
        if "IS_POSTGRES_EXTERNAL" in $env {
            brew install postgresql@17
            brew services start postgresql@17
            createdb-17 $DATABASE_NAME
            let sql = $'
              CREATE USER ($env.DATABASE_NAME);
              ALTER ROLE ($env.DATABASE_NAME) PASSWORD '($env.DATABASE_NAME)';
              GRANT ALL ON SCHEMA public TO ($env.DATABASE_NAME);
              ALTER USER ($env.DATABASE_NAME) CREATEDB;
            '
            $sql | psql-17 $env.DATABASE_NAME
        } else {
            print $env.POSTGRES_EXTERNAL_SHELL_MSG
        }

        mise run django:migrate
        mise run django:db-stubs-repopulate
    """
