["dev:db:setup"]
    run = """
        if $env.IS_POSTGRES_EXTERNAL == "true" {
            brew install postgresql@17
            brew services start postgresql@17
            createdb-17 $env.DATABASE_NAME
            let sql = $'
              CREATE USER ($env.DATABASE_NAME);
              ALTER ROLE ($env.DATABASE_NAME) PASSWORD '($env.DATABASE_NAME)';
              GRANT ALL ON SCHEMA public TO ($env.DATABASE_NAME);
              ALTER USER ($env.DATABASE_NAME) CREATEDB;
            '
            $sql | psql-17 $env.DATABASE_NAME
        } else {
            mise run dev:db
        }

        mise run django:migrate
        mise run django:db-stubs-repopulate
    """

["dev:db:rm"]
    dir = "devops/"
    run = """
        if $env.IS_POSTGRES_EXTERNAL == "true" {
            dropdb-17 $env.DATABASE_NAME
        } else {
            sudo docker compose rm db
        }
    """

["dev:db:stop"]
    dir = "devops/"
    run = """
        if $env.IS_POSTGRES_EXTERNAL == "true" {
            brew services stop postgresql@17
        } else {
            sudo docker compose stop db
        }
    """
