["dev:db:setup"]
    run = """
        if $env.IS_POSTGRES_MACOS == "true" {
            brew install postgresql@{{ env.DB_VER }}
            brew services start postgresql@{{ env.DB_VER}}

            createuser-{{ env.DB_VER}} --superuser --pwprompt={{ env.DB_USER }} {{ env.DB_USER }}

            let db_name = "{{ env.DB_USER }}"
            createdb-{{ env.DB_VER}} --owner={{ env.DB_USER }} $db_name
        } else {
            mise run dev:db
        }

        mise run django:migrate
        mise run django:db-stubs-repopulate
    """

["dev:db:rm"]
    dir = "devops/"
    depends = "dev:db:stop"
    run = """
        if $env.IS_POSTGRES_MACOS == "true" {
            dropdb-{{ env.DB_VER }} {{ env.DB_NAME }}
        } else {
            sudo -E docker compose down -v db
        }
    """

["dev:db:stop"]
    dir = "devops/"
    run = """
        if $env.IS_POSTGRES_MACOS == "true" {
            brew services stop postgresql@{{ env.DB_VER }}
        } else {
            sudo -E docker compose stop db
        }
    """

# E2E

["dev:db:e2e:setup"]
    dir = "devops"
    run = """
        if $env.IS_POSTGRES_MACOS == "true" {
            createdb-{{ env.DB_VER }} --owner={{ env.DB_USER }} {{ env.E2E_DB_NAME }} | complete
        } else {
            let res = ( sudo -E docker compose exec db bash -c "createdb --owner={{ env.DB_USER }} {{ env.E2E_DB_NAME }}" | complete )
            if $res.exit_code > 0 {
                if ($res.stderr | str contains "already exists") {
                    print "db already exists"
                } else {
                    print $res.stderr
                }
            }
        }
        mise run django:migrate
    """

["dev:db:e2e:rm"]
    dir = "devops"
    run = """
        if $env.IS_POSTGRES_MACOS == "true" {
            dropdb-{{ env.DB_VER }} {{ env.E2E_DB_NAME }}
        } else {
            sudo -E docker compose exec db bash -c "dropdb --user={{ env.DB_USER }} {{ env.E2E_DB_NAME }}"
        }
    """
