[install-deps]
    depends = [
        "install-deps:server",
        "install-deps:client",
        "install-deps:playwright",
    ]

["install-deps:server"]
    dir = "server"
    run = "uv sync"

["install-deps:client"]
    dir = "client"
    run = "bun install --frozen-lockfile"

["install-deps:playwright"]
    dir = "client"
    run = [
        "bunx playwright install",
        "bunx playwright install chromium --with-deps",
    ]

["install-deps:client:new"]
    dir = "client"
    run = "bun install"


# Upgrades

[upgrade-deps]
    depends = [
        "upgrade-deps:*",
        "install-deps:playwright",
    ]

["upgrade-deps:server"]
    dir = "server"
    run = """
        # use env.DEPENDENCY_COOLDOWN_DAYS

        let days_cooldown = {{ env.DEPENDENCY_COOLDOWN_DAYS }}day;
        let date_cutoff = (date now) - $days_cooldown | format date "%+"

        uv lock --upgrade $"--exclude-newer=($date_cutoff)"
    """

["upgrade-deps:client"]
    dir = "client"
    run = [
        # We freeze "graphql", due to "gql.tada" bugs with 16.12,
        # See [[package.json.md]] and [[.local/issues/closed/103-gql-tada-Persisted-Queries.md]]
        "bun run ncu --upgrade --packageManager bun --reject=graphql --cooldown={{ env.DEPENDENCY_COOLDOWN_DAYS }}",
        "bun install"
    ]

["upgrade-deps:client:dry"]
    dir = "client"
    run = [
        "bun run ncu --packageManager bun --cooldown={{ env.DEPENDENCY_COOLDOWN_DAYS }} ",

        "echo 'Without the cooldown'",
        "bun run ncu --packageManager bun --cooldown=0",
    ]

["upgrade-deps:playwright"]
    dir = "client"
    run = "bun update playwright"
