[install-deps]
    depends = [
        "install-deps:*",
    ]

["install-deps:server"]
    dir = "server"
    run = "uv sync"

["install-deps:client"]
    dir = "client"
    run = "bun install --frozen-lockfile"

["install-deps:playwright"]
    dir = "client"
    run = [
        "bunx playwright install",
        "bunx playwright install chromium --with-deps",
    ]


# Upgrades

[upgrade-deps]
    depends = [
        "upgrade-deps:*",
        "install-deps:playwright",
    ]

["upgrade-deps:server"]
    dir = "server"
    run = "uv lock --upgrade"

["upgrade-deps:client"]
    dir = "client"
    run = [
        "bun run ncu --upgrade --packageManager bun",
        "bun install"
    ]

["upgrade-deps:client:dry"]
    dir = "client"
    run = "bun run ncu --packageManager bun"

["upgrade-deps:playwright"]
    dir = "client"
    run = "bun update playwright"
