# $schema: https://mise.jdx.dev/schema/mise-task.json


["docker:push"]
    usage = """
        flag "--app <name>" { choices "server" "client" "coder" }
    """
    dir = "devops/"
    run = """
        python3 docker_tag_and_push.py \
            --app=($env.usage_app) \
            --github-path="{{ env.GITHUB_PATH }}" \
            --version="{{ env.VITE_RELEASE_VERSION }}"
    """

["docker:rm"]
    usage = """
        flag "--app <name>" { choices "server" "client" "coder" }
        flag "--version <version>" env="VITE_RELEASE_VERSION"
    """
    run = "sudo -E docker rmi ghcr.io/{{ env.GITHUB_PATH }}/($env.usage_app):($env.usage_version)"


["docker:build"]
    usage = """
        flag "--app <name>" { choices "server" "client" "coder" }
        flag "--version <version>" env="VITE_RELEASE_VERSION"
        flag "--no_cache" default=#false
    """
    run = """
        # Set working dir
        # ------------------------------

        let app = $env.usage_app
        if $app == "coder" {
          cd devops/coder
        } else {
          cd $app
        }

        # Sentry PROJECT_NAME mapping
        # ------------------------------

        let sentry_project = if $app == "client" {
          "{{ env.PROJECT_NAME }}-frontend"
        } else if $app == "server" {
          "{{ env.PROJECT_NAME }}-backend"
        }

        # Force-pass Mise env & tag the docker build
        # ------------------------------

        let version = $env.usage_version
        let compose_file = "docker-compose.yaml"
        let compose_content = $"
            services:
              ($app):
                image: ghcr.io/{{ env.GITHUB_PATH }}/($app):($version)
                build:
                  context: .
                  args:
                    VITE_RELEASE_VERSION: ($version)

                    # for React Router build
                    VITE_SERVER_URL: https://backend.{{ env.DOMAIN_NAME }}

                    # for Sentry
                    SENTRY_AUTH_TOKEN: {{ env.SENTRY_AUTH_TOKEN }}
                    SENTRY_ORG: {{ env.SENTRY_ORG }}
                    SENTRY_PROJECT: ($sentry_project)
                    SENTRY_DSN_BACKEND: {{ env.SENTRY_DSN_BACKEND }}
                    VITE_SENTRY_DSN_FRONTEND: {{ env.SENTRY_DSN_FRONTEND }}
                    VITE_RELEASE_NAME: {{ env.VITE_RELEASE_NAME }}
                    PROJECT_NAME: {{ env.PROJECT_NAME }}
"

        $compose_content | save --force $compose_file

        # Build
        # ------------------------------

        let no_cache = $env.usage_no_cache
        if $no_cache == "true" {
          ^sudo -E docker compose --progress=plain build --no-cache
        } else {
          ^sudo -E docker compose --progress=plain build
        }

        rm $compose_file
    """
