# $schema: https://mise.jdx.dev/schema/mise-task.json

["docker:tag-and-push"]
    alias = "docker:push"
    usage = """
        flag "--app <name>" { choices "server" "client" "coder" }
        flag "--tag_only"
    """
    dir = "devops/"
    run = """
        python3 docker_tag_and_push.py \
            --app=($env.usage_app) \
            --github_path="{{ env.GITHUB_PATH }}" \
            --version="{{ env.VITE_RELEASE_VERSION }}" \
            ...(if $env.usage_tag_only? == "true" { ["--tag_only"] } else { [] })
    """

["docker:rm"]
    usage = """
        flag "--app <name>" { choices "server" "client" "coder" }
        flag "--version <version>" env="VITE_RELEASE_VERSION"
    """
    run = "sudo -E docker rmi ghcr.io/{{ env.GITHUB_PATH }}/($env.usage_app):($env.usage_version)"

["docker:build"]
    usage = """
        flag "--app <name>" { choices "server" "client" "coder" }
        flag "--version <version>" env="VITE_RELEASE_VERSION"
        flag "--no_cache" default=#false
    """

    run = """
        # Set working dir
        # ------------------------------

        let app = $env.usage_app
        if $env.usage_app == "coder" {
          cd devops/($env.usage_app)
        } else {
          cd ($env.usage_app)
        }

        # Sentry PROJECT_NAME mapping
        # ------------------------------

        let sentry_project = if $env.usage_app == "client" {
          "{{ env.PROJECT_NAME }}-frontend"
        } else if $env.usage_app == "server" {
          "{{ env.PROJECT_NAME }}-backend"
        }

        # Force-pass Mise env & tag to the Docker build
        # ------------------------------

        let compose_file = "docker-compose.yaml"
        let compose_content = $"
            services:
              ($env.usage_app):
                image: ghcr.io/{{ env.GITHUB_PATH }}/($env.usage_app):($env.usage_version)
                pull_policy: always
                build:
                  context: .
                  args:
                    VITE_RELEASE_VERSION: ($env.usage_version)

                    # for React Router build
                    VITE_SERVER_URL: https://backend.{{ env.DOMAIN_NAME }}

                    # for Sentry
                    SENTRY_AUTH_TOKEN: {{ env.SENTRY_AUTH_TOKEN }}
                    SENTRY_ORG: {{ env.SENTRY_ORG }}
                    SENTRY_PROJECT: ($sentry_project)
                    SENTRY_DSN_BACKEND: {{ env.SENTRY_DSN_BACKEND }}
                    VITE_SENTRY_DSN_FRONTEND: {{ env.SENTRY_DSN_FRONTEND }}
                    VITE_RELEASE_NAME: {{ env.VITE_RELEASE_NAME }}
                    PROJECT_NAME: {{ env.PROJECT_NAME }}
"

        $compose_content | save --force $compose_file

        # Build
        # ------------------------------

        # local needs sudo
        let docker_cmd = if $env.CI? == "true" { "docker" } else { "sudo -E docker" }

        if $env.usage_no_cache == "true" {
          nu -c $"($docker_cmd) compose --progress=plain build --no-cache"
        } else {
          nu -c $"($docker_cmd) compose --progress=plain build"
        }

        rm $compose_file
    """
