# $schema: https://mise.jdx.dev/schema/mise-task.json


["docker:push"]
    usage = """
        flag "--app <name>" { choices "server" "client" "coder" }
    """
    dir = "devops/"
    run = """
        python3 docker_tag_and_push.py \
            --app=${usage_app?} \
            --github-path="{{ env.GITHUB_PATH }}" \
            --version="{{ env.VITE_RELEASE_VERSION }}"
    """

["docker:rm"]
    usage = """
        flag "--app <name>" { choices "server" "client" "coder" }
        flag "--version <version>" env="VITE_RELEASE_VERSION"
    """
    run = "sudo docker rmi ghcr.io/{{ env.GITHUB_PATH }}/${usage_app?}:${usage_version?}"


["docker:build"]
    usage = """
        flag "--app <name>" { choices "server" "client" "coder" }
        flag "--version <version>" env="VITE_RELEASE_VERSION"
        flag "--no_cache" default=#false
    """
    # Found no other sane way to pass `mise env` to `docker build`,
    # will burn it and move to Podman later.
    # todo move to a Python script
    run = """
        #!/usr/bin/env bash

        # Set working dir
        # ------------------------------

        CWD="${usage_app?}"
        if [ "${usage_app?}" = "coder" ]; then
          CWD="devops/coder"
        fi

        cd $CWD


        # Sentry PROJECT_NAME mapping
        # ------------------------------

        SENTRY_PROJECT=""
        if [ "${usage_app?}" = "client" ]; then
          SENTRY_PROJECT={{ env.PROJECT_NAME }}-frontend
        fi
        if [ "${usage_app?}" = "server" ]; then
          SENTRY_PROJECT={{ env.PROJECT_NAME }}-backend
        fi


        # Force-pass Mise env & tag the docker build
        # ------------------------------

        COMPOSE_FILE=docker-compose.yaml
        cat > $COMPOSE_FILE <<EOF
            services:
              ${usage_app?}:
                image: ghcr.io/{{ env.GITHUB_PATH }}/${usage_app?}:${usage_version?}
                build:
                  context: .
                  args:
                    VITE_RELEASE_VERSION: ${usage_version?}

                    # for React Router build
                    VITE_SERVER_URL: https://backend.{{ env.DOMAIN_NAME }}

                    # for Sentry
                    SENTRY_AUTH_TOKEN: {{ env.SENTRY_AUTH_TOKEN }}
                    SENTRY_ORG: {{ env.SENTRY_ORG }}
                    SENTRY_PROJECT: $SENTRY_PROJECT
                    SENTRY_DSN_FRONTEND: {{ env.SENTRY_DSN_FRONTEND }}
                    SENTRY_DSN_BACKEND: {{ env.SENTRY_DSN_BACKEND }}
                    VITE_RELEASE_NAME: {{ env.VITE_RELEASE_NAME }}
                    PROJECT_NAME: {{ env.PROJECT_NAME }}

EOF

        # Build
        # ------------------------------

        CACHE_FLAG=""
        if [ "${usage_no_cache}" = "true" ]; then
          CACHE_FLAG="--no-cache"
        fi

        sudo docker compose --progress=plain build $CACHE_FLAG

        rm $COMPOSE_FILE
    """
