# Dev servers to speed up `mise e2e` command cold start
# -----------------------------------------------------

["dev:e2e"]
    depends = ["dev:e2e:server", "dev:e2e:client"]

["dev:e2e:stop"]
    run = "killport --signal=SIGTERM {{ env.SERVER_PORT_E2E }} {{ env.CLIENT_PORT_E2E }}"

["dev:e2e:server"]
    depends = ["dev:db", "dev:db:e2e:setup"]
    dir = "server"
    run = """
        job spawn { mise dev:s3 }
        uv run manage.py runserver {{ env.SERVER_PORT_E2E }}
    """
    env.SERVER_URL = "http://localhost:{{ env.SERVER_PORT_E2E }}"
    env.DJANGO_ENV = "dev_test_e2e"
    env.E2E_DB_NAME = "{{ env.E2E_DB_NAME }}"
    env.IS_TASKS_BACKEND_IMMEDIATE = "false"

["dev:e2e:server:db_worker"]
    dir = "server"
    run = "uv run manage.py db_worker"
    env.SERVER_URL = "http://localhost:{{ env.SERVER_PORT_E2E }}"
    env.DJANGO_ENV = "dev_test_e2e"
    env.E2E_DB_NAME = "{{ env.E2E_DB_NAME }}"

["dev:e2e:client"]
    dir = "client"
    run = "bun run react-router dev --host --port={{ env.CLIENT_PORT_E2E }}"
    env.VITE_SERVER_URL = "http://localhost:{{ env.SERVER_PORT_E2E }}"
