.DS_Store

.local/
.git/
.idea/
.run/
.mutagen

server/**/.gitignore
node_modules/
server/.venv/

*.sql
*.dump
*.csv

# caches
__pycache__
.*_cache/

# .env
mise.local.toml
mise.*.local.toml
**/.env*

# docker
/docker-compose.build.*.yaml

# s3
server/media/
