.DS_Store

.local/
.idea/
.run/
.mutagen

server/**/.gitignore
node_modules/

*.sql
*.dump
*.csv
client/e2e/auth.state.json
client/graphql/prefetch/

# caches
__pycache__
server/.*_cache/
server/.venv/
.*_cache/

# .env
mise.local.toml
mise.*.local.toml
**/.env*
!.env.local.example
!.env.local.*.example

# docker
/docker-compose.build.*.yaml

# s3
server/media/
