# .npmrc is required by pnpm - can't be replaced it by yaml.
# ------------------------------------------------------------


# pnpm v10 requirement for `pnpm deploy` in [[docs/Dockerfile]] - otherwise errors & asks for `--legacy`.
inject-workspace-packages=true
