[tools]
    bun = "latest"
    uv = "latest"
    biome = "latest"
    rclone = "latest"
    killport = "latest"

    claude = "2.1.4" # freeze for cctweak
        node = "24"

[settings]
    # use Nushell for everything
    unix_default_file_shell_args = "nu"
    unix_default_inline_shell_args = "nu --commands"
    use_file_shell_for_executable_tasks = true

    python.uv_venv_auto = true

[task_config]
    includes = [
        "devops/dependencies.mise.toml",
        "devops/db.mise.toml",
        "devops/docker.mise.toml",
        "devops/e2e.mise.toml",
        "devops/claude.mise.toml",
    ]

[env]
    # Global

    PROJECT_NAME = "neuronhub"
    VITE_PROJECT_NAME = "NeuronHub"
    VITE_RELEASE_VERSION = "0.2.5.0" # used in GitHub and Sentry

    DEPENDENCY_COOLDOWN_DAYS = 4

    DOMAIN_NAME = "neuronhub.app"

    GITHUB_ORG = "neuronhub-app"
    GITHUB_REPO = "neuronhub"
    GITHUB_PATH = "{{ env.GITHUB_ORG }}/{{ env.GITHUB_REPO }}"

    # Sentry

    SENTRY_ORG = "{{ env.PROJECT_NAME }}"
    SENTRY_DSN_FRONTEND = "https://97d9ce8ba2e7102f6ccfed17dd2e25aa@o4507887634284544.ingest.us.sentry.io/4510303776145408"
    SENTRY_DSN_BACKEND = "https://417078bf385cad9c59d41a020892e689@o4507887634284544.ingest.us.sentry.io/4510305221869575"
    VITE_RELEASE_NAME = "{{ env.PROJECT_NAME }}@{{ env.VITE_RELEASE_VERSION }}"

    # Algolia

    ALGOLIA_APPLICATION_ID = "VN4ESP6QTP"
    ALGOLIA_SEARCH_API_KEY = "73e0fded909b86d55105cac456370c53"
    ALGOLIA_API_KEY = ""
    ALGOLIA_IS_ENABLED = "false"
    ALGOLIA_INDEX_POSTFIX_USER = "{{ env.USER }}" # to not clash dev indexes between users

    # Dev

    SERVER_PORT = 8000
    SERVER_PORT_E2E = 8001
    CLIENT_PORT = 3000
    CLIENT_PORT_E2E = 3001

    E2E_DB_NAME = "test_neuronhub_e2e"

    S3_STORAGE_BUCKET_NAME = "media"
    S3_PORT = 8333

    IS_POSTGRES_EXTERNAL = "{{ env.IS_POSTGRES_EXTERNAL | default(value = env.CI | default(value = false)) }}"
    POSTGRES_EXTERNAL_SHELL_MSG = "Skipping Postgres operation, as using non-Mise db (ie on GitHub CI or MacOS)"


# Dev servers
# -----------------------------------------------------
[tasks."dev"]
    depends = ["dev:server", "dev:client", "dev:db", "dev:s3"]

    [tasks."dev:server"]
        depends = "dev:db"
        dir = "server"
        run = "uv run manage.py runserver {{ env.SERVER_PORT }}"

    [tasks."dev:client"]
        depends = "dev:db"
        dir = "client"
        run = "bun run react-router dev --host --port={{ env.CLIENT_PORT }}"
        env.VITE_SERVER_URL = "http://localhost:{{ env.SERVER_PORT }}"

    [tasks."dev:s3"]
        dir = "server"
        run = """
            if $env.CI? != "true" {
                mkdir {{ env.S3_STORAGE_BUCKET_NAME }}
                try { rclone serve s3 . --addr :{{ env.S3_PORT }} }
            }
        """

    [tasks."dev:db"]
        dir = "devops"
        run = """
            if $env.IS_POSTGRES_EXTERNAL == "true" {
                print $env.POSTGRES_EXTERNAL_SHELL_MSG
            } else {
                sudo -E docker compose up db --detach
            }
        """

    [tasks."dev:stop"]
        dir = "devops"
        run = [
            "killport --signal=SIGTERM {{ env.SERVER_PORT }} {{ env.CLIENT_PORT }} {{ env.S3_PORT }}",
            "sudo -E docker compose down db",
        ]


# Tests
# -----------------------------------------------------

[tasks."test"]
    dir = "server"
    depends = "dev:db"
    run = [
        "mise test:pytest",
        "mise test:e2e",
    ]

    [tasks."test:pytest"]
        dir = "server"
        depends = "dev:db"
        run = "uv run pytest"
        alias = "pytest"
        env.DJANGO_ENV = "dev_test_unit"

    [tasks."test:e2e"]
        dir = "client"
        run = "bun run playwright test --config=e2e/playwright.config.ts"
        alias = "e2e"
        # duplicate with `dev:e2e:server`, as Playwright resets env when starts Mise from [[playwright.config.ts]]
        env.VITE_SERVER_URL = "http://localhost:{{ env.SERVER_PORT_E2E }}"
        env.E2E_DB_NAME = "{{ env.E2E_DB_NAME }}"


# Django
# -----------------------------------------------------

[tasks."django:migrate"]
    dir = "server"
    run = "uv run manage.py migrate"

[tasks."django:makemigrations"]
    dir = "server"
    run = "uv run manage.py makemigrations"

[tasks."django:db-stubs-repopulate"]
    dir = "server"
    run = "uv run manage.py db_stubs_repopulate"

[tasks."django:import-hn"]
    dir = "server"
    run = "uv run manage.py import_hn"

[tasks."django:import-hn-scheduled"]
    dir = "server"
    run = "uv run manage.py import_hn_scheduled"

[tasks."django:algolia-reindex"]
    dir = "server/"
    run = "uv run manage.py algolia_reindex_with_replica"


# typegen → format → lint
# -----------------------------------------------------

[tasks."typegen"]
    depends = "typegen:server"
    run = "mise typegen:client"
    description = "Strawberry → schema.graphql → TS enums; gql.tada Persisted Queries; @chakra-ui; etc"

    [tasks."typegen:server"]
        dir = "server"
        run = "uv run manage.py export_schema neuronhub.graphql --path=../schema.graphql"
        sources = ["neuronhub/**/*.py"]
        outputs = ["../schema.graphql"]
        quiet = true

    [tasks."typegen:client"]
        depends = [
            "typegen:client:graphql-codegen",
            "typegen:client:gql-tada",
            "typegen:client:react-router",
            "typegen:client:chakra",
        ]
        quiet = true

    [tasks."typegen:client:graphql-codegen"]
        dir = "client"
        run = "bun run graphql-codegen --errors-only --silent --config src/codegen.ts"
        sources = ["../schema.graphql"]
        quiet = true

    [tasks."typegen:client:gql-tada"]
        dir = "client"
        run = [
            "bun run gql-tada generate output",
            "bun run gql-tada generate persisted --output ../server/persisted-queries.json",
        ]
        sources = ["src/**/*", "e2e/**/*"]
        silent = true

    [tasks."typegen:client:react-router"]
        dir = "client"
        run = "bun run react-router typegen"
        sources = ["src/apps/**/index.tsx", "src/routes.ts"]
        quiet = true

    [tasks."typegen:client:chakra"]
        dir = "client"
        run = "bunx @chakra-ui/cli typegen src/theme/theme.ts"
        sources = ["src/theme/**/*.ts"]
        silent = true


[tasks."format"]
    depends = ["format:server", "format:client"]
    quiet = true

    [tasks."format:server"]
        dir = "server"
        run = "uv run ruff format"
        sources = ["neuronhub/**/*.py"]
        quiet = true

    [tasks."format:client"]
        dir = "client"
        run = "bun run biome format --write"
        sources = ["src/**/*", "e2e/**/*"]
        quiet = true


[tasks."lint"]
    depends = [
        "typegen --output=silent",
        "format --output=silent",
    ]
    depends_post = [
        "lint:server",
        "lint:client",
    ]

    [tasks."lint:server"]
        dir = "server"
        run = "uv run mypy neuronhub"
        sources = ["neuronhub/**/*.py"]
        quiet = true

    [tasks."lint:client"]
        dir = "client"
        run = [
            "bun run tsgo --noEmit --project tsconfig.quiet.json",
            "bun run biome lint --write --unsafe",
        ]
        sources = ["src/**/*", "e2e/**/*"]
        quiet = true
