[tools]
    bun = "latest"
    uv = "latest"
    biome = "latest"
    rclone = "latest"
    killport = "latest"

[settings]
    python.uv_venv_auto = true

[task_config]
    includes = [
        "devops/install-deps.mise.toml",
        "devops/upgrade-deps.mise.toml",
        "devops/db-init.mise.toml",
        "devops/claude.mise.toml",
        "devops/docker.mise.toml",
        "devops/dev-env-darwin.mise.toml",
        "client/e2e/e2e.mise.toml",
    ]

[env]
    PROJECT_NAME = "neuronhub"

    VITE_RELEASE_VERSION = "0.2.3.0" # used globally, eg in GitHub, Docker, Sentry

    DOMAIN_NAME = "neuronhub.app"

    GITHUB_ORG = "neuronhub-app"
    GITHUB_REPO = "neuronhub"
    GITHUB_PATH = "{{ env.GITHUB_ORG }}/{{ env.GITHUB_REPO }}"

    # Sentry

    SENTRY_ORG = "{{ env.PROJECT_NAME }}"
    SENTRY_DSN_FRONTEND = "https://97d9ce8ba2e7102f6ccfed17dd2e25aa@o4507887634284544.ingest.us.sentry.io/4510303776145408"
    SENTRY_DSN_BACKEND = "https://417078bf385cad9c59d41a020892e689@o4507887634284544.ingest.us.sentry.io/4510305221869575"
    VITE_RELEASE_NAME = "{{ env.PROJECT_NAME }}@{{ env.VITE_RELEASE_VERSION }}"

    # Dev env

    SERVER_PORT = 8000
    SERVER_PORT_E2E = 8001

    CLIENT_PORT = 3000
    CLIENT_PORT_E2E = 3001

    E2E_DB_NAME = "test_neuronhub_e2e"

    S3_STORAGE_BUCKET_NAME = "media"
    S3_PORT = 8333


# Dev servers
# -----------------------------------------------------

[tasks."dev"]
    depends = ["dev:db", "dev:s3", "dev:server", "dev:client"]

[tasks."dev:hatchet"]
    depends = ["dev:db-full", "dev:server", "dev:client", "dev:hatchet-worker"]

    [tasks."dev:hatchet-worker"]
        depends = "dev:db-full"
        dir = "server"
        run = "uv run python neuronhub/apps/importer/hatchet_worker.py"

    [tasks."dev:server"]
        depends = "dev:db"
        dir = "server"
        run = "uv run manage.py runserver {{ env.SERVER_PORT }}"

    [tasks."dev:client"]
        depends = "dev:db"
        dir = "client"
        run = "bun run react-router dev --host --port={{ env.CLIENT_PORT }}"
        env.VITE_SERVER_URL = "http://localhost:{{ env.SERVER_PORT }}"

    [tasks."dev:s3"]
        dir = "server"
        run = [
            "mkdir -p {{ env.S3_STORAGE_BUCKET_NAME }}",
            "rclone serve s3 . --addr :{{ env.S3_PORT }}",
        ]

    [tasks."dev:db"]
        dir = "devops"
        run = """
            #!/usr/bin/env bash
            if [[ "$IS_DB_EXTERNAL" = "true" || "$GITHUB_ACTIONS" = "true" ]]; then
                echo "Using external PostgreSQL"
            else
                sudo docker compose up db --detach
            fi
        """
        silent = true

    [tasks."dev:db-full"]
        dir = "devops"
        run = """
            #!/usr/bin/env bash
            if [[ "$IS_DB_EXTERNAL" = "true" || "$GITHUB_ACTIONS" = "true" ]]; then
                echo "Using external PostgreSQL"
            else
                sudo docker compose up db hatchet-postgres hatchet-lite --detach
            fi
        """
        silent = true

    [tasks."dev:db-stop"]
        dir = "devops"
        run = "sudo docker compose down db"

    [tasks."dev:db-full-stop"]
        dir = "devops"
        run = "sudo docker compose down db hatchet-postgres hatchet-lite"

    [tasks."dev:server:e2e"]
        depends = ["dev:db", "dev:db:setup-e2e"]
        dir = "server"
        run = [
            "mise django:migrate",
            "uv run manage.py runserver {{ env.SERVER_PORT_E2E }}",
        ]
        env.SERVER_URL = "http://localhost:{{ env.SERVER_PORT_E2E }}"
        env.E2E_TEST = "true"
        env.E2E_DB_NAME = "{{ env.E2E_DB_NAME }}"

    [tasks."dev:client:e2e"]
        dir = "client"
        run = "bun run react-router dev --host --port={{ env.CLIENT_PORT_E2E }}"
        env.VITE_SERVER_URL = "http://localhost:{{ env.SERVER_PORT_E2E }}"

    [tasks."dev:e2e"]
        depends = ["dev:server:e2e", "dev:client:e2e"]

    [tasks."dev:e2e:stop"]
        run = "killport --signal=SIGTERM {{ env.SERVER_PORT_E2E }} {{ env.CLIENT_PORT_E2E }} {{ env.S3_PORT }}"

    [tasks."dev:stop"]
        run = "killport --signal=SIGTERM {{ env.SERVER_PORT }} {{ env.CLIENT_PORT }} {{ env.S3_PORT }}"


# Tests
# -----------------------------------------------------

[tasks."test"]
    dir = "server"
    depends = "dev:db"
    run = [
        "mise run test:pytest",
        "mise run test:e2e",
    ]

    [tasks."test:pytest"]
        dir = "server"
        depends = "dev:db"
        run = "uv run pytest"
        alias = "pytest"

    [tasks."test:e2e"]
        dir = "client"
        run = "bun run playwright test --config=e2e/playwright.config.ts"
        alias = "e2e"
        env.VITE_SERVER_URL = "http://localhost:{{ env.SERVER_PORT_E2E }}"
        env.E2E_DB_NAME = "{{ env.E2E_DB_NAME }}" # duplicate with `dev:server:e2e`, as Playwright resets env when starts Mise from [[playwright.config.ts]]


# Django
# -----------------------------------------------------

[tasks."django:migrate"]
    dir = "server"
    run = [
        "uv run manage.py migrate",
        "uv run manage.py createcachetable",
    ]

[tasks."django:makemigrations"]
    dir = "server"
    run = "uv run manage.py makemigrations"

[tasks."django:db-stubs-repopulate"]
    dir = "server"
    run = "uv run manage.py db_stubs_repopulate"

[tasks."django:import-hn"]
    dir = "server"
    run = "uv run manage.py import_hn"

[tasks."django:import-hn-scheduled"]
    dir = "server"
    run = "uv run manage.py import_hn_scheduled"

# Lint & format
# -----------------------------------------------------

[tasks."typegen"]
    depends = "typegen:server"
    run = [
        "mise run typegen:client:graphql",
        "mise run typegen:client:gql-tada",
        "mise run typegen:client:react",
        "mise run typegen:client:chakra",
    ]
    description = "Strawberry → schema.graphql → TypeScript enums; and @chakra-ui"

    [tasks."typegen:server"]
        dir = "server"
        run = "uv run manage.py export_schema neuronhub.graphql --path=../schema.graphql"
        sources = ["neuronhub/**/*.py"]
        outputs = ["../schema.graphql"]

    [tasks."typegen:client:graphql"]
        dir = "client"
        run = [
            "bun run graphql-codegen --errors-only --silent --config src/codegen.ts",
            "bun run gql-tada generate output",
            "bun run gql-tada generate persisted",
        ]
        sources = ["../schema.graphql"]

    [tasks."typegen:client:gql-tada"]
        dir = "client"
        run = "bun run gql-tada generate persisted"

    [tasks."typegen:client:react"]
        dir = "client"
        run = "bun run react-router typegen"
        sources = ["src/apps/**/index.tsx", "src/routes.ts"]
        silent = true

    [tasks."typegen:client:chakra"]
        dir = "client"
        run = "bunx @chakra-ui/cli typegen src/theme/theme.ts"
        sources = ["src/theme/**/*.ts"]

[tasks."format"]
    depends = ["format:server", "format:client"]

    [tasks."format:server"]
        dir = "server"
        run = "uv run ruff format"
        sources = ["neuronhub/**/*.py"]

    [tasks."format:client"]
        dir = "client"
        run = "bun run biome format --write"
        sources = ["src/**/*", "e2e/**/*"]

[tasks."lint"]
    depends = [
        "typegen --output=silent",
        "format --output=silent",
    ]
    run = [
        "mise lint:server",
        "mise lint:client",
    ]

    [tasks."lint:server"]
        dir = "server"
        run = "uv run mypy neuronhub"
        sources = ["neuronhub/**/*.py"]

    [tasks."lint:client"]
        dir = "client"
        run = [
            "bun run tsgo --noEmit --project tsconfig.quiet.json",
            "bun run biome lint --write --unsafe",
        ]
        sources = ["src/**/*", "e2e/**/*"]
