["dev:db:setup-e2e"]
    dir = "devops"
    run = """
        if "IS_POSTGRES_EXTERNAL" in $env {
            print $env.POSTGRES_EXTERNAL_SHELL_MSG
        } else {
            let res = ( sudo docker compose exec db bash -c "createdb --user={{ env.PROJECT_NAME }} {{ env.E2E_DB_NAME }}" | complete )
            if $res.exit_code > 0 {
                if ($res.stderr | str contains "already exists") {
                    print "db already exists"
                } else {
                    print $res.stderr
                }
            }
        }
    """

["dev:db:rm-e2e"]
    dir = "devops"
    run = """
        sudo docker compose exec db bash -c "dropdb --user={{ env.PROJECT_NAME }} {{ env.E2E_DB_NAME }}"
    """
